/* Initialisation des polices */
@font-face {
  font-family: "Exo_thin";
  src: url("../../Fonts/Exo/Exo-Thin.eot");
  src: url("../../Fonts/Exo/Exo-Thin.eot?#iefix") format("embedded-opentype"), url("../../Fonts/Exo/Exo-Thin.woff2") format("woff2"), url("../../Fonts/Exo/Exo-Thin.woff") format("woff"), url("../../Fonts/Exo/Exo-Thin.ttf") format("truetype"), url("../../Fonts/Exo/Exo-Thin.svg#Exo-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo_medium";
  src: url("../../Fonts/Exo/Exo-Medium.eot");
  src: url("../../Fonts/Exo/Exo-Medium.eot?#iefix") format("embedded-opentype"), url("../../Fonts/Exo/Exo-Medium.woff2") format("woff2"), url("../../Fonts/Exo/Exo-Medium.woff") format("woff"), url("../../Fonts/Exo/Exo-Medium.ttf") format("truetype"), url("../../Fonts/Exo/Exo-Medium.svg#Exo-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo_semi_bold";
  src: url("../../Fonts/Exo/Exo-SemiBold.eot");
  src: url("../../Fonts/Exo/Exo-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../Fonts/Exo/Exo-SemiBold.woff2") format("woff2"), url("../../Fonts/Exo/Exo-SemiBold.woff") format("woff"), url("../../Fonts/Exo/Exo-SemiBold.ttf") format("truetype"), url("../../Fonts/Exo/Exo-SemiBold.svg#Exo-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo_regular";
  src: url("../../Fonts/Exo/Exo-Regular.eot");
  src: url("../../Fonts/Exo/Exo-Regular.eot?#iefix") format("embedded-opentype"), url("../../Fonts/Exo/Exo-Regular.woff2") format("woff2"), url("../../Fonts/Exo/Exo-Regular.woff") format("woff"), url("../../Fonts/Exo/Exo-Regular.ttf") format("truetype"), url("../../Fonts/Exo/Exo-Regular.svg#Exo-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo_extra_light";
  src: url("../../Fonts/Exo/Exo-ExtraLight.eot");
  src: url("../../Fonts/Exo/Exo-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../Fonts/Exo/Exo-ExtraLight.woff2") format("woff2"), url("../../Fonts/Exo/Exo-ExtraLight.woff") format("woff"), url("../../Fonts/Exo/Exo-ExtraLight.ttf") format("truetype"), url("../../Fonts/Exo/Exo-ExtraLight.svg#Exo-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo_light";
  src: url("../../Fonts/Exo/Exo-Light.eot");
  src: url("../../Fonts/Exo/Exo-Light.eot?#iefix") format("embedded-opentype"), url("../../Fonts/Exo/Exo-Light.woff2") format("woff2"), url("../../Fonts/Exo/Exo-Light.woff") format("woff"), url("../../Fonts/Exo/Exo-Light.ttf") format("truetype"), url("../../Fonts/Exo/Exo-Light.svg#Exo-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Style des titres */
h1 {
  font-family: "Exo_regular", "Comic Sans MS";
  font-size: 50px;
}

h2 {
  font-family: "Exo_regular", "Comic Sans MS";
  font-size: 40px;
}

h3 {
  font-family: "Exo_regular", "Comic Sans MS";
  font-size: 30px;
}

h4 {
  font-family: "Exo_regular", "Comic Sans MS";
  font-size: 20px;
}

h5 {
  font-family: "Exo_regular", "Comic Sans MS";
  font-size: 10px;
}

a {
  font-family: "Exo_regular", "Comic Sans MS";
  font-size: 20px;
}

button {
  font-size: 25px;
}

/* Style du footer */
#footer {
  font-family: "Exo_regular", "Comic Sans MS";
  padding-top: 50px;
  background-color: #DFDFDF;
  font-size: 20px;
}
#footer .fa {
  padding: 15px;
  font-size: 25px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: white;
}
#footer .fa-facebook {
  background: #3B5998;
  height: 50px;
  width: 50px;
}
#footer .fa-twitter {
  background: #4C9BC1;
  height: 50px;
  width: 50px;
}
#footer .copyright {
  margin-top: 30px;
  color: #0ba800;
  font-family: "Exo_light", "Comic Sans MS";
}
#footer .naviguer h3 {
  color: #0BA800;
}
#footer .naviguer .linkFooter {
  text-decoration: none;
  color: black;
  margin: 10px;
}
#footer .notreProjet h3 {
  color: #0BA800;
}
#footer .notreProjet .linkFooter {
  text-decoration: none;
  color: black;
  margin: 10px;
}

/* Style du header */
#bgNav {
  content: "";
  background: linear-gradient(to left, rgba(14, 40, 83, 0.9), lightgrey);
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  border-bottom: 1px solid rgb(255, 255, 255);
}
#bgNav nav {
  padding: 0;
  background: none;
}
#bgNav nav .navbar-nav li {
  display: inline-block;
}
#bgNav nav .navLogo {
  background-image: url("../../Images/Logo_sans_slogan.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  height: 100px;
  width: 300px;
  margin-left: 50px;
  font-size: 1px;
}
#bgNav nav .navMenu {
  height: 100px;
}
#bgNav nav .navMenu .navbar-nav {
  position: relative;
}
#bgNav nav .navMenu .userNav {
  padding-left: 30px;
  padding-right: 30px;
  height: 100px;
  align-content: center;
}
#bgNav nav .navMenu .userNav .nav-link {
  padding-top: 33px;
  color: white;
  padding-left: 0;
  padding-right: 0;
}
#bgNav nav .navMenu .userNav .dropdown-menu {
  position: absolute;
}
#bgNav nav .navMenu .lienNav {
  padding-left: 16px;
  padding-right: 16px;
  height: 108px;
  align-content: center;
  border-bottom: 5px solid transparent;
  transform: translateZ(0);
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
}
#bgNav nav .navMenu .lienNav:before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: lightgreen;
  height: 5px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
#bgNav nav .navMenu .lienNav:hover:before {
  left: 0;
  right: 0;
}
#bgNav nav .navMenu .lienNav .nav-link {
  padding-top: 33px;
  color: white;
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 991px) {
  #bgNav nav .navMenu {
    height: auto;
  }
}
/* Style de la balise main */
main iframe {
  width: 100%;
  height: 450px;
  border: 0;
}
main .titres {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Exo_medium", "Comic Sans MS";
}
main #header {
  color: white;
  background-image: url("../../Images/backgroundHome.webp");
  height: 700px;
}
main #header .blockNav {
  height: 138px;
}
main #header .header_text {
  margin-top: 100px;
}
main #header .header_text h1 {
  font-family: "Exo_medium", "Comic Sans MS";
  padding-bottom: 20px;
  font-size: 35px;
}
main #header .header_text h2 {
  font-size: 30px;
  line-height: 1.8;
}
main #header .header_text .btnSavoirPlus {
  margin-top: 10px;
  background-color: lightgrey;
  border-radius: 10px;
  height: 80px;
  width: 60%;
  margin-left: 10%;
  transition: all 0.5s;
  font-size: 20px;
}
main #header .header_text .btnSavoirPlus a {
  text-decoration: none;
  color: black;
  font-family: "Exo_light", "Comic Sans MS";
}
main #header .header_text .btnSavoirPlus:hover {
  border-color: black;
  background-color: darkgrey;
}
main #header .header_text .btnSavoirPlus:hover a {
  color: #FFF;
}
main #header .header_text .btnSavoirPlus:hover .btnSavoirPlus:after {
  transition: all 0.5s;
}
main #header .header_text .btnSavoirPlus:hover .btnSavoirPlus:before {
  transition: all 0.5s;
}
main #cards {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}
main #cards .sectionFonctionnement .card .card-body .card-title {
  text-align: center;
  line-height: 1.8;
}
main #cards .sectionFonctionnement .card .card-body .card-text {
  text-align: left;
  line-height: 1.8;
}
main #cards .btnFonctionnement {
  font-size: 18px;
  text-align: center;
  margin-top: 35px;
  background-color: lightgrey;
  border-radius: 10px;
  height: 80px;
  width: 100%;
  transition: all 0.5s;
}
main #cards .btnFonctionnement .lienFonctionnement {
  text-decoration: none;
  font-family: "Exo_light", "Comic Sans MS";
  color: black;
}
main #cards .btnFonctionnement:hover {
  border-color: black;
  background-color: darkgrey;
}
main #cards .btnFonctionnement:hover a {
  color: #FFF;
}
main #cards .btnFonctionnement:hover .btnFonctionnement:after {
  transition: all 0.5s;
}
main #cards .btnFonctionnement:hover .btnFonctionnement:before {
  transition: all 0.5s;
}
main #login {
  margin-top: 100px;
  margin-bottom: 20px;
}
main #login .loginSection {
  padding: 50px;
  font-size: 20px;
  font-family: "Exo_regular", "Comic Sans MS";
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  border: solid 1px black;
}
main #login .loginSection label {
  width: auto;
  display: block;
  padding: 20px;
}
main #login .loginSection p {
  font-size: 20px;
}
main #login .loginSection p a {
  font-size: 20px;
}
main #register {
  margin-top: 100px;
  margin-bottom: 20px;
}
main #register .registerSection {
  padding: 100px;
  font-size: 20px;
  font-family: "Exo_regular", "Comic Sans MS";
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  border: solid 1px black;
}
main #register .registerSection label {
  padding: 20px;
}
main #register .registerSection p {
  font-size: 20px;
}
main #register .registerSection p a {
  font-size: 20px;
}
main .article {
  border: solid 1px #241E1E;
  border-radius: 20px;
  height: auto;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .article h4 {
  height: 30px;
}
main .article p {
  height: auto;
}
main .article img {
  height: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
main #create {
  margin-top: 115px;
  margin-bottom: 50px;
}
main .container .row .formSection {
  border-radius: 20px;
  border: solid black 1px;
  padding: 20px;
  font-size: 15px;
  font-family: "Exo_regular", "Comic Sans MS";
  margin-left: 20%;
  margin-right: 20%;
  height: auto;
  display: block;
  width: 60%;
}
main .container .row .formSection label {
  display: inline-block;
  padding: 10px;
}
main .container .row .formSection input {
  display: block;
}
main .container .row .formSection textarea {
  display: block;
}
main .container .row .formSection label + input[type=file] {
  display: inline-block;
}
main #contact {
  margin-top: 115px;
  margin-bottom: 20px;
}
main #contact h1 {
  text-align: center;
}
main #contact .input_section {
  padding: 30px;
  font-size: 20px;
  font-family: "Exo_regular", "Comic Sans MS";
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  border: solid 1px black;
  border-radius: 20px;
}
main #contact .input_section label {
  display: block;
  padding: 20px;
}
main #contact .input_section .inputContact {
  width: 100%;
  margin: 10px;
  display: block;
}
main #leProjet {
  margin-top: 10px;
}
main #leProjet p {
  font-size: 25px;
  text-align: center;
}
main #leProjet .projetSection {
  border-top: solid 1px #707070;
  padding: 25px;
}
main #leProjet .projetSection h2 {
  font-size: 40px;
}
main #leProjet .projetSection li {
  font-size: 25px;
}
main #myArticles {
  margin-top: 115px;
  margin-bottom: 50px;
}
main #myArticles h1 a {
  font-size: 2.5rem;
}

.error {
  color: red;
  font-weight: bold;
}

.msg {
  color: darkblue;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
